@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

body {
    background: linear-gradient(to right, #5B6579, #595F6C);
}

header {
    background-image: url('images/header.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
    width: 100%;
    height: 30%;
    background-color: #4c4f58;
    color: #d4d4df;
    text-shadow: #474b54 1px 1px 1px;
}

h1 {
    font-size: 300%;
    margin: auto;
    width: 50%;
    text-align: center;
    padding: 10%;
}

 nav img {
    width: 80px;
    height: 60px;
    opacity: 60%;
    margin-left: 10px;
    margin-top: 10px;
 }

.navBar {
    display: flex;
    list-style-type: none;
    float: right;
    margin-right: 10%;
    padding: 10px; 
    font-size: 110%;
}

.navBar li {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.navBar a {
    color: inherit;
}

.navBar a:hover {
    text-shadow:#474b54 2px 2px 1px;
    font-size: 112%;
}

section {
    margin-top: 2em;
    margin-left: 1em;
    color: #B7BCCE;
    text-shadow: #454a54 1px 1px 2px;
}

section li {
    margin-left: 2em;
}